In [305]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
#print(os.listdir("../input"))

In [306]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [307]:
len(data)

1890

# Предобработка датасета

In [308]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
# Столбец Прибыль фильма
data['profit'] = data.revenue - data.budget
# Разбиваем жанры на списки
data.genres = data.genres.apply(lambda x: x.split('|'))
# Разбиваем Режиссеров на списки
data.director = data.director.apply(lambda x: x.split('|'))
# Разбиваем Актеров на списки
data.cast = data.cast.apply(lambda x: x.split('|'))
# Разбиваем Студии на списки
data.production_companies = data.production_companies.apply(lambda x: x.split('|'))

# Функция получения прибыльности фильмов по списочному столбцу
def get_profit_by_column(df, column):
    counter = Counter()
    for i in range(0, len(df)):
        for value in df.iloc[i][column]:
            counter[value] += df.iloc[i]['profit']
    return counter 


# Функция получения количества фильмов по списочному столбцу
def get_count_by_column(df, column):
    counter = Counter()
    for i in range(0, len(df)):
        for value in df.iloc[i][column]:
            counter[value] += 1
    return counter

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [309]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
data[data.budget == data.budget.max()]
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [310]:
data[data.runtime == data.runtime.max()]
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [311]:
data[data.runtime == data.runtime.min()]
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [312]:
data.runtime.mean()
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [313]:
data.runtime.median()
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [314]:
data[data.profit == data.profit.max()]
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [315]:
data[data.profit == data.profit.min()]
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [316]:
data[data.profit > 0].count()
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [317]:
data[(data.release_year == 2008)].sort_values(['profit'],ascending = False).head(1)
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [318]:
data[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values(['profit']).head(1)
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [319]:
pd.Series(data.genres.sum()).value_counts()
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [320]:
pd.Series(data[data.profit > 0].genres.sum()).value_counts()
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [321]:
pd.Series(data.director.sum()).value_counts().sort_values(ascending = False)
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [322]:
pd.Series(data[data.profit > 0].director.sum()).value_counts().sort_values(ascending = False)
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [323]:
director_profits = get_profit_by_column(data,'director').most_common()
director_profits[:5]
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [324]:
actor_profits = get_profit_by_column(data,'cast').most_common()
actor_profits[:5]
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [325]:
df = data[data.release_year == 2012]       
actor_profits = get_profit_by_column(df,'cast').most_common()
actor_profits[-5:]
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [326]:
df = data[data.budget > data.budget.mean()]  
actor_freq = get_count_by_column(df, 'cast').most_common()
actor_freq[:5]
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [327]:
df = data[data.cast.map(lambda x: True if 'Nicolas Cage' in x else False)].genres.sum()
df = pd.Series(df).value_counts()
df
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [328]:
company_films_count = get_count_by_column(data, 'production_companies').most_common()
company_films_count[:5]

answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [329]:
company_films_count = get_count_by_column(data[data.release_year == 2015], 'production_companies').most_common()
company_films_count[:5]

answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [330]:
df = data[data.genres.map(lambda x: True if 'Comedy' in x else False)]
profit = get_profit_by_column(df, 'production_companies').most_common()
profit[:5]
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [331]:
company_films_count = get_profit_by_column(data[data.release_year == 2012], 'production_companies').most_common()
company_films_count[:5]
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [332]:
df = data[data.production_companies.map(lambda x: True if 'Paramount Pictures' in x else False)]
df[df.profit == df.profit.min()]
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [333]:
data.groupby('release_year')['profit'].sum().sort_values(ascending = False)
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [334]:
df = data[data.production_companies.map(lambda x: True if 'Warner Bros.' in x else False)]
df.groupby('release_year')['profit'].sum().sort_values(ascending = False)
answer_ls.append(2)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [335]:
data.groupby(pd.to_datetime(data.release_date).dt.month).count().sort_values(['imdb_id'])
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [336]:
months = data.groupby(pd.to_datetime(data.release_date).dt.month).count()
months.iloc[5:8]['imdb_id'].sum()
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [337]:
counter = Counter()
for i in range(0, len(data)):
    for value in data.iloc[i]['director']:
        month = pd.to_datetime(data.iloc[i]['release_date']).month
        if (month in [1,2,12]):
            counter[value] += 1
directors = counter.most_common()
directors[:5]
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [338]:
months = pd.DataFrame(data.groupby(['release_year',pd.to_datetime(data.release_date).dt.month])['profit'].sum())
g = months['profit'].groupby(level=0, group_keys=False)
pd.DataFrame(g.nlargest(1)).groupby('release_date').count()
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [339]:
wordsLen = Counter()
wordsCount = Counter()
avgLen = Counter()
for i in range(0, len(data)):
    for value in data.iloc[i]['production_companies']:
        wordsLen[value] += len(data.iloc[i]['original_title'])
        wordsCount[value] += 1
a = {x: y / wordsCount[x] for x, y in wordsLen.items()}
b = {x:y for x, y in sorted(a.items(), key = lambda item: item[1], reverse = True)}
b
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [340]:
wordsLen = Counter()
wordsCount = Counter()
avgLen = Counter()
for i in range(0, len(data)):
    for value in data.iloc[i]['production_companies']:
        wordsLen[value] += len(data.iloc[i]['original_title'].split())
        wordsCount[value] += 1
a = {x: y / wordsCount[x] for x, y in wordsLen.items()}
b = {x:y for x, y in sorted(a.items(), key = lambda item: item[1], reverse = True)}
b
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [341]:
pd.Series(data.original_title.str.cat(sep=' ').lower().split()).nunique()

answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [342]:
top_one_count = int(data.vote_average.count() / 100)
data.sort_values('vote_average', ascending=False).head(top_one_count)
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [343]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [344]:
df_profit = data[data.profit > 0]
profit_films = get_count_by_column(df_profit, 'director')
profit_films.most_common()
#all_films = get_count_by_column(data, 'director')
#all_films.most_common()
#all_films = len(all_films)
#percent = Counter()
#for i,v in profit_films.items():
#    percent[i] = profit_films[i]**2 / all_films[i]
#percent.most_common()
answer_ls.append(5)

# Submission

In [345]:
len(answer_ls)

36

In [346]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       2
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       5